<mat-toolbar>
    <a routerLink="/"><div class="navbar-logo"></div></a>
    <span><a routerLink="/" style="color: #151414;">Mandarine.TS</a></span>

      <button mat-icon-button (click)="this.toggleResponsiveMenu()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <div fxShow="true" fxHide.lt-md class="items-end">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a routerLink="/" mat-button>Home</a>
        <a routerLink="/docs/master/mandarine/introduction" mat-button>Documentation</a>
        <a href="https://github.com/mandarineorg/mandarinets" target="_blank" mat-button>Source Code</a>
      </div>

</mat-toolbar>
<div class="hide-el" #ResponsiveMenuContainer>
<mat-sidenav #sidenav fxFlexFill fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
  <mat-nav-list>
    <a (click)="this.toggleResponsiveMenu()" href="" mat-list-item>Close</a>
    <a routerLink="/" mat-list-item>Home</a>
    <a routerLink="/docs/master/mandarine/introduction" mat-list-item>Documentation</a>
    <a href="https://github.com/mandarineorg/mandarinets" target="_blank" mat-list-item>Source Code</a>
  </mat-nav-list>
</mat-sidenav>
</div>
